	  
<button style="margin-bottom: 1.5em;" class="btn btn-success btn-lg"><a style="color: #fff; text-decoration: none" href="#/my-classes">take me to my classes</a></button>
<br />

<input type="text" placeholder="search for classes" ng-model="searchClass" class="form-control" style="margin-bottom: 1em"/>
	


	  <table>
	  	<thead>
	  	
	  	</thead>

    <tbody>
        <tr ng-repeat="course in courses | filter:searchBy() ">
          <td style="padding-right: 0.5em"><input type="checkbox" ng-model="search[course.id]" /> </td>
            <td style="padding-right: 0.5em">
            	
            	<h5>{{ course.id }}</h5>
            	
            </td>
            <td >
            	<h5>
                {{ course.departmentName }}
            	</h5>
            </td>
             <td style="padding-left: 0.5em">
             	<h5>
                {{ course.courseTitle }}
            </h5>
            </td>
            
        </tr>

        
       
    </tbody>
  </table>


<br />
<div class="container">
<table>
	<thead>
	  		<tr>
	  			<td></td><td><h4>course id</h4></td><td><h4>department</h4></td><td><h4 style="padding-left: 1.5em">course title</h4></td>
	  		</tr>
	  	</thead>
<tbody ng-repeat="course in courses | filter: searchClass" style="font-family: gotham-book" >
		
	  	
	<tr>
		<td style="padding-right: 0.5em"><input type="checkbox" ng-model="search[course.id]" /> </td>
    	<td style="padding-right: 1em">{{ course.id }}</td>
    	<td >{{course.departmentName}}</td>
    	<td style="padding-left: 1em">{{course.courseTitle}}</td>

    </tr>
  	</tbody>

  </table>
  </div>
  
